#page {
    display: grid;
    grid-template-columns: min-content auto;
    color: black;
    background: rgb(234, 244, 240);
}

header {
    background-color: aquamarine;
    width: 200px;
}

.section-ajout {
    display: flex;
    flex-direction: column;

}

.section-ajout h1 {
    text-align: center;
}

.form-ajout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: 20px; */
    /* width: 50%; */
    align-items: center;
    justify-content: center;
}

span {
    color: red;
}