<section class="section-profil">

	<h1>Félicitation vous avez-mis en ligne votre enchère!</h1>

	<div class="section-profil">
		<a href="enchereAjout" id="utilisateur" class"nav-nom-util">Ajouter un autre enchère</a><br>
		<a href="enchereListe" id="utilisateur" class"nav-nom-util">Voir vos enchères</a><br>
		<a href="utilisateurProfil" id="utilisateur" class"nav-nom-util">Retourner à votre profil</a>
	</div>


</section>
